In [1]:
import pandas as pd

# Exploratory Data Analysis

Load clean dataset

In [2]:
df = pd.read_csv("../data/inputs/cleaned/cleaned_car_data.csv")

In [3]:
df.head(5)

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,carbrand,price_per_hp,power_to_weight
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,13495.0,alfa-romero,121.576577,0.043564
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,16500.0,alfa-romero,148.648649,0.043564
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,3.47,9.0,154,5000,19,26,16500.0,alfa-romero,107.142857,0.054552
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,3.40,10.0,102,5500,24,30,13950.0,audi,136.764706,0.043646
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,3.40,8.0,115,5500,18,22,17450.0,audi,151.739130,0.040722

In [5]:
df.shape

(205, 27)

# Summary of Car Prices

In [8]:
df["price"].describe()

count      205.000000
mean     13276.710571
std       7988.852332
min       5118.000000
25%       7788.000000
50%      10295.000000
75%      16503.000000
max      45400.000000
Name: price, dtype: float64

### Average Car Price by Brand

In [ ]:
# Average car price by brand
avg_price_by_brand = df.groupby("carbrand",)["price"].mean().sort_values(ascending=False)
avg_price_by_brand

carbrand
jaguar         34600.000000
buick          33647.000000
porsche        31400.500000
bmw            26118.750000
volvo          18063.181818
audi           17859.166714
mercury        16503.000000
alfa-romero    15498.333333
peugeot        15489.090909
saab           15223.333333
mazda          10652.882353
nissan         10415.666667
volkswagen     10077.500000
toyota          9885.812500
renault         9595.000000
mitsubishi      9239.769231
isuzu           8916.500000
subaru          8541.250000
honda           8184.692308
plymouth        7963.428571
dodge           7875.444444
chevrolet       6007.000000
Name: price, dtype: float64

Understand the positioning of each brand (luxury vs budget)

Start answering one of your business questions:
“Which brands are most expensive on average?”

In [10]:
avg_price_by_brand.round(2)

carbrand
jaguar         34600.00
buick          33647.00
porsche        31400.50
bmw            26118.75
volvo          18063.18
audi           17859.17
mercury        16503.00
alfa-romero    15498.33
peugeot        15489.09
saab           15223.33
mazda          10652.88
nissan         10415.67
volkswagen     10077.50
toyota          9885.81
renault         9595.00
mitsubishi      9239.77
isuzu           8916.50
subaru          8541.25
honda           8184.69
plymouth        7963.43
dodge           7875.44
chevrolet       6007.00
Name: price, dtype: float64

The top of the list = most expensive brands (e.g. jaguar, buick, porsche)

The bottom = more affordable ones (e.g. chevrolet, dodge)

### Which Brands Offer Better Value

In [15]:
# Average price per horsepower by brand
value_by_brand = df.groupby("carbrand")["price_per_hp"].mean().sort_values()
value_by_brand.round(2)

carbrand
mitsubishi      88.32
dodge           92.26
plymouth        93.04
mercury         94.30
chevrolet       97.06
subaru          98.27
honda          101.18
nissan         103.22
renault        106.61
toyota         109.57
isuzu          116.12
saab           120.98
mazda          124.35
alfa-romero    125.79
volkswagen     128.07
volvo          144.05
audi           148.90
porsche        152.68
peugeot        156.49
jaguar         174.21
bmw            184.96
buick          229.93
Name: price_per_hp, dtype: float64

Brands at the top of the list give you more performance for less money.

Brands at the bottom give you less performance per dollar (more expensive, luxury-focused).

### Does Car Type Affect Price?

In [17]:
avg_price_by_body = df.groupby("carbody")["price"].mean().sort_values(ascending=False)
avg_price_by_body.round(2)

carbody
hardtop        22208.50
convertible    21890.50
sedan          14344.27
wagon          12371.96
hatchback      10376.65
Name: price, dtype: float64

Convertibles and hardtops are the most expensive, while hatchbacks are more budget-friendly. This supports the idea that body style influences pricing.

### Average Price by Fuel Type

Let’s check if fuel type (gas or diesel) affects the car's price.

In [20]:
avg_price_by_fueltype = df.groupby("fueltype")["price"].mean().sort_values()
avg_price_by_fueltype.round(2)

fueltype
gas       12999.80
diesel    15838.15
Name: price, dtype: float64

Diesel cars are more/less expensive than gas cars on average

### City MPG by Car Body

Find out which car types are more fuel efficient in the city.

In [28]:
avg_citympg_by_carbody = df.groupby("carbody")["citympg"].mean().sort_values(ascending=False)
avg_citympg_by_carbody.round(2)

carbody
hatchback      26.31
sedan          25.32
wagon          24.04
hardtop        21.62
convertible    20.50
Name: citympg, dtype: float64

Hatchbacks are the most fuel-efficient cars in city driving

In [29]:
avg_highwaympg_by_carbody = df.groupby("carbody")["highwaympg"].mean().sort_values(ascending=False)
avg_highwaympg_by_carbody.round(2)

carbody
hatchback      32.17
sedan          30.83
wagon          28.72
hardtop        27.25
convertible    26.00
Name: highwaympg, dtype: float64

Hatchbacks are the most fuel-efficient cars in highway driving

In [30]:
df.to_csv('../data/inputs/cleaned/cleaned_eda_data.csv', index=False)